@using Hard.App.Extensions
@model Hard.App.ViewModels.SupplierViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<hr />

<div>    
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DocumentId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DocumentId)
        </dd>       
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Active)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Active)
        </dd>
    </dl>
</div>

<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Id" disable-by-claim-name="supplier" disable-by-claim-value="update">Edit</a>
    <a class="btn btn-secondary" href="javascript:window.history.back();">Back to List</a>
</div>

<partial name="_DetailsAddress"> 
