@using Hard.App.Extensions
@model IEnumerable<Hard.App.ViewModels.SupplierViewModel>

@{
    ViewData["Title"] = "Suppliers list";
}

<h1>@ViewData["Title"]</h1>

<hr />

<p>
    <a class="btn btn-info" asp-action="Create" supress-by-claim-name="supplier" supress-by-claim-value="create">Create New</a>
</p>

<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DocumentId)
            </th>            
            <th>
                @Html.DisplayNameFor(model => model.Active)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @this.FormatDocument(item.DocumentType, item.DocumentId)
            </td>            
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td class="text-right">
                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id" disable-by-claim-name="supplier" disable-by-claim-value="recover"><spam class="fa fa-search"></spam></a>
                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id" disable-by-claim-name="supplier" disable-by-claim-value="update"><spam class="fa fa-pencil-alt"></spam></a>
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id" disable-by-claim-name="supplier" disable-by-claim-value="delete"><spam class="fa fa-trash"></spam></a>
            </td>
        </tr>
}
    </tbody>
</table>
